.auth-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.auth-box {
  background: white;
  padding: 40px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.auth-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#logoutBtn {
  margin-left: 20px;
  background: red;
}

#logoutBtn:hover {
  background: darkred;
}
